

<% if user_signed_in? %>
<div class="page-header">
  <%= link_to articles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1 class="rainbow">Nouvelle Idée</h1>
</div>

<%= render 'form' %>
<% else %>


<h2 class="rainbow">Welcome , to see content of this website you must be <%= link_to 'registered', new_user_registration_path %></h2>
<%= link_to 'Create account', new_user_registration_path %>

<% end %>
